body {
    font-family: 'Open Sans', sans-serif;
}
nav {
    background-color: #ffffff;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 100px;
}
nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}
h1 {
   font-family: "Open Sans", OpenSans, sans-serif;
   font-style: normal;
   font-weight: 200;
   font-size: 48px;
   line-height: 55px;
   color: #f4f4f4;
}
h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    color: #ffffff;
}
ul {
    color: #f4f4f4;
}
p {
    color: #ffffff;
}
/* classes used in header*/
.top-left { 
      display: inline-flex;
}
.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}
.top-links li {
    display: inline-block;
    margin: 0 10px;
}
.search-bar {
    background-color:rgb(31, 82, 111);
}
.build-amazing-things-bkgrnd {
    background-image: url("images/city-scape.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.build-amazing-things {
    width: 30%;
    height: 300px;
    margin: 0 auto;
    padding: 5% 30% 5% 0;
    position: left;
    color: white;
}
.build-amazing-things p {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    color: #f4f4f4;
    padding-bottom: 20px;
}
.link-btn-orange {
    background-color:rgb(240, 146, 51);
    color: #ffffff;
    font-family: "Open Sans", OpenSans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
}
.link-btn-red {
    background-color: rgb(193, 33, 39);
    color: #ffffff;
    font-family: "Open Sans", OpenSans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
}
.link-btn-blue {
    background-color:rgb(39, 53, 71);
    color: #ffffff;
    font-family: "Open Sans", OpenSans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
}
/* classes used in section 1*/
.sec-1 {
    width: 70%;
    height: 300px;
    padding: 5% 15% 5% 15%;
    margin: 0 auto;
    display: inline-flex;  
    background-color: rgb(39, 53, 71);
}
.sec-1 img {
    height: 80%;
    padding-left: 10%;
}
.sec-1-content {
    width: 50%;
    float: right;
    padding-left: 5%;
}
.sec-1-content ul {
    font-style: normal;
    font-weight: 400; 
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
}
.sec-1-content a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}